{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  

  <h1 align="center">Split Map</h1>
	<form method="POST">
		<div style="display: grid; grid-template-columns: auto auto auto;">
			<div class="dataColumn">
				<h2>User</h2>
				 <select name ="user_name">
           <option value = "null">
             --Please Select--
           </option>
           {% for user in users %}
           <option value = "{{user}}">
             {{user}}
           </option>
           {% endfor %}
         </select>
        
			</div>
			<div class="dataColumn">
				<h2>Expense</h2>
				<textarea name="expense" id="note" class="form-control userInput"></textarea>
			</div>
			<div class="dataColumn">
				<h2>Cost</h2>
				<textarea name="cost" id="note" class="form-control userInput"></textarea>
			</div>
		</div>
		<div align="center">
      <button type="submit" class="btn btn-primary">Add Transaction</button>
    </div>
	</form>
	<ul class="list-group list-group-flush" id="transactions">
    {% for tx in user.transactions %}
    <li class="list-group-item">
      {{tx.name}} paid ${{'%0.2f'| format(tx.cost|float)}} for {{tx.remarks}}
      <button type="button" class="close" onClick="deleteTransaction({{ tx.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <div class="w3-bar w3-black">
    <!--looping name through the people's name-->
    {% for name in payments %}
    <button id="tab_{{name}}" class="w3-bar-item w3-button people-tabs" onclick="openPeople('{{name}}')">{{name}}</button>
    {% endfor %}
  </div>

  {% for selectedPerson in payments %}
  <!-- each person's payments is as follows:
  
    "Sam": {
      "Tze Zhao": 5 # this means that "Sam" has to pay "Tze Zhao" $5
      "Kar Jun": -10 # this means that "Sam" can expect "Kar Jun" to pay him $10 
    }
    
-->
  <div id="{{selectedPerson}}" class="w3-container people">
    <!-- draw value from key -->
    {% set indivPayments = payments[selectedPerson] %}
    <!-- indviPayments is:
      {
        "Tze Zhao": 5 # this means that "Sam" has to pay "Tze Zhao" $5
        "Kar Jun": -10 # this means that "Sam" can expect "Kar Jun" to         pay him $10
      }
    -->
    {% for otherPerson in indivPayments %}
    
      {% set value = indivPayments[otherPerson] %}
      <!-- check if owe or receive -->
      {% if value > 0 %}
        <p>{{selectedPerson}} owes {{otherPerson}} ${{'%0.2f'| format(value|float)}}</p>
      {% else %}
        {% set val_str = '%0.2f'| format(value|float) %}
        <p>{{selectedPerson}} should receive ${{val_str[1:]}} from {{otherPerson}}</p>
      {% endif %}
    {% endfor %}
    <div>
      <button onclick="copyText('{{selectedPerson}}')">Copy</button>
    </div>
  </div>
  {% endfor %}
  {% if payments %}
  <script>
    window.onload = function(){openPeople("{{payments.keys()[0]}}")}
  </script>
  {% endif %}
  {% endblock %}