{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}

  <h1 align="center">Users</h1>
	
		<div style="display: grid; grid-template-columns: auto auto auto;">
			<div class="dataColumn">
			</div>
			<div class="dataColumn">
				<textarea name="expense" id="new_user" class="form-control userInput"></textarea>
			</div>
			<div class="dataColumn">
			</div>
		</div>
		<div align="center">
      <button class="btn btn-primary" onclick="addUser(document.getElementById('new_user').value)">Add User</button>
    </div>
  <form method="POST">
  	<ul class="list-group list-group-flush" id="users">
      {% for user in users %}
      <li class="list-group-item" id="{{user}}">
        <span>{{user}}</span>
      <button class="close" type="button" onclick="deleteUser('{{user}}')">
        <span aria-hidden="true">&times;</span>
      </button>
      <input style="display:none;" value="{{user}}" name="users">
      </li>
      {% endfor %}
    </ul>  
    <div align="center">
      <button class="btn btn-primary" type="submit">COOK</button>
    </div>
	</form>
  {% endblock %}