{% extends "base.html" %} {% block title %}Users{% endblock %} {% block content
  %}

  <h1 align="center">Users</h1>
	
  <form method="POST">
		<div style="display: grid; grid-template-columns: auto auto auto;">
			<div class="dataColumn">
			</div>
			<div class="dataColumn">
				<input name="new_user" id="new_user" class="form-control userInput">
			</div>
			<div class="dataColumn">
			</div>
		</div>
		<div align="center">
      <button type="submit" class="btn btn-primary">Add User</button>
    </div>
  	<ul class="list-group list-group-flush" id="users">
      {% for user in users %}
      <li class="list-group-item" id="{{user}}">
        <span>{{user}}</span>
      <button class="close" type="button" onclick="deleteUser('{{user}}')">
        <span aria-hidden="true">&times;</span>
      </button>
      <input style="display:none;" value="{{user}}" name="users">
      </li>
      {% endfor %}
    </ul>  
    <div align="center">
      <button class="btn btn-primary"><a href="/">Done</a></button>
    </div>
    
	</form>
  {% endblock %}